#title {
    font-family: 'Shadows Into Light', cursive;
    margin: auto;
    text-align: center;
}

header {
    background-color: #EEE2DC;
    padding: 20px;
    margin-bottom: 2em;;
}

.post-title {
    text-transform: lowercase;
    font-family: 'Noto Sans', sans-serif;
    color: #123C69;
    font-weight: bold;
}

.container {
    text-align: center;
}